2025/05/1hkd03v2ODg7cyPa.json
{
  "active": false,
  "connections": {
    "Perplexity": {
      "main": [
        [
          {
            "node": "Post to X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "searchQuery": {
      "main": [
        [
          {
            "node": "set API key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set API key": {
      "main": [
        [
          {
            "node": "Perplexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "searchQuery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-22T06:28:20.498Z",
  "id": "1hkd03v2ODg7cyPa",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Auto-Post Breaking News Content Using Perplexity AI to X (Twitter)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 21,
              "triggerAtMinute": "={{Math.floor(Math.random() * 60)}}\n"
            }
          ]
        }
      },
      "id": "02b258cf-a37c-467d-a5d8-bee4bf06a12e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4cfbc312-5dcd-444d-ae08-0bab417c084c",
              "name": "searchInput",
              "type": "string",
              "value": "What's the latest news in artificial intelligence?"
            }
          ]
        },
        "options": {}
      },
      "id": "95d45215-84c2-40c7-809b-24ff6cf9c1b4",
      "name": "searchQuery",
      "type": "n8n-nodes-base.set",
      "position": [
        220,
        0
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.perplexityAPI }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-sonar-small-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a social media assistant summarizing tech news for Twitter/X. Only return one article. Your output must follow this exact format: a short, engaging headline (max 140 characters), followed by a single space, then the direct article link. Do not use markdown, hashtags, emojis, or line breaks. Keep the total output under 200 characters. Be precise, objective, and newsworthy.Example: Mastercard launches Agent Pay, allowing AI agents to make purchases for users. https://www.perplexity.ai/page/mastercard-unveils-agent-pay-e-qWXnaUEzQZWCqsxF4l43zA\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('searchQuery').item.json.searchInput }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"top_p\": 0.9,\n  \"return_citations\": true,\n  \"search_domain_filter\": [\n    \"perplexity.ai\"\n  ],\n  \"search_recency_filter\": \"day\",\n  \"return_images\": true,\n  \"return_related_questions\": false,\n  \"max_tokens\": 80,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1\n}\n",
        "options": {}
      },
      "id": "e8b5d23b-9553-4cf4-8b31-50732212967b",
      "name": "Perplexity",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        660,
        0
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f9bd3a0-5587-410f-b145-a287f65f9576",
              "name": "perplexityAPI",
              "type": "string",
              "value": "<yourPerplexityAPI>"
            }
          ]
        },
        "options": {}
      },
      "id": "431d4357-1d21-42bc-aafd-60be3d28b1d4",
      "name": "set API key",
      "type": "n8n-nodes-base.set",
      "position": [
        440,
        0
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {}
      },
      "id": "13e9c24e-6f68-4b75-87d1-4f8dc489b8b5",
      "name": "Post to X",
      "type": "n8n-nodes-base.twitter",
      "position": [
        880,
        0
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "repo_name": null,
  "repo_owner": null,
  "repo_path": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-22T06:28:20.498Z",
  "versionId": "e7ba5b30-c74c-4064-ad6a-d94f37a9cf3e"
}