2025/05/1PiRhLEWMizfDbeb.json
{
  "active": false,
  "connections": {
    "Brave Search Request": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "doc create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "doc append": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-01T11:13:24.119Z",
  "id": "1PiRhLEWMizfDbeb",
  "meta": null,
  "name": "AI Goldmine Research Anything with Brave GPT",
  "nodes": [
    {
      "parameters": {
        "path": "92f78ee9-c30f-4916-8a6a-5faa2339797b"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 1,
      "position": [
        0,
        560
      ],
      "id": "c0a105e7-822e-4aeb-8a66-8a97c5f5f540",
      "name": "MCP Server Trigger",
      "webhookId": "92f78ee9-c30f-4916-8a6a-5faa2339797b"
    },
    {
      "parameters": {
        "toolDescription": "Get the data from brave search API",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "Accept-Encoding",
              "valueProvider": "fieldValue",
              "value": "gzip"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        88,
        780
      ],
      "id": "f53c2752-f1a2-415d-9440-40c9793b252b",
      "name": "Brave Search Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5R17K5fiK66QHqOX",
          "name": "Brave Search API key"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }} / {{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a research analyst AI trained to process web search results and generate structured, insightful reports focused on a niche provided by the user.\n\nYour goal is to analyze Brave Search results (title, description, URL) and deliver a comprehensive, well-organized, Google Docs–style report that highlights innovative, lesser-known AI tools, GPT agents, open-source repositories, or prompt engineering projects.\n\n--- INPUT DATA ---\nUse the MCP protocol to gather search results from Brave Search.\nIf the user has not specified a niche yet, ask them directly before proceeding.\nExample: “What specific niche or research focus should I analyze?”\n\nOnce data is available, follow these steps:\n\nInstructions:\n\n1. **Skim and Filter:**\n   - Remove spammy, irrelevant, or duplicate entries.\n   - Focus on GitHub projects, product pages, independent blogs, AI tools, whisper models, and GPT workflows.\n\n2. **Extract Value:**\n   For each valid result:\n   - 🔹 Title\n   - 🔹 What it is / what it does (summarized in your own words)\n   - 🔹 Why it’s interesting (use 2–3 bullet points)\n\n3. **Rate Each One:**\n   - Use a 🔥 1–5 rating based on:\n     - Uniqueness\n     - Usefulness\n     - Technical depth\n\n4. **Structure the Output Like a Research Memo:**\n\nAI Goldmine Report – [Niche/Subject]\n🚀 Top Picks (High-Value Finds)\nA short list (3–5) of the most compelling results with 🔥 ratings.\n\n📚 Full Report\n1. [Title]\nURL: [link]\n\nSummary: [brief description]\n\nWhy It’s Interesting:\n\nBullet 1\n\nBullet 2\n\n🔥 Rating: X/5\n\n(Repeat for all valid entries)\n\n🧠 Observations & Trends\nSummarize any patterns or themes noticed.\n\nHighlight emerging ideas or overlaps across tools/projects.\n\n\n5. **Double-Check and Polish:**\n- Review your own output.\n- Ensure clean grammar, clear writing, and visual structure.\n- Use markdown or Google Docs–friendly formatting.\n\n\n### ✨ Document Export Instructions:\n\nYou have access to two tools that allow you to export your report to a Google Doc:\n\n- 📝 `doc create`: Use this to create a new Google Document.  \n  - Title format:  \n    **AI Goldmine Report – [query] – [current date]**\n\n- ✏️ `doc append`: Use this to write your final formatted report into the document created above.\n\nUse these tools in order:\n1. First, create the document with `doc create`.\n2. Then, write the full content using `doc append`.\n3. Do **not** return the content or document link — just export via the tools and complete.\n\n---\n\nBegin only once the query (niche/subject) and Brave Search results are available via MCP context."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        372,
        0
      ],
      "id": "d86c0597-4d7c-4fcc-ba2c-bc3b92a5bdd6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        220
      ],
      "id": "f6972a22-5a75-4b42-9e5a-0cc7385cbf3a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        220
      ],
      "id": "126fc8ea-cf0d-42b2-a1f0-fa444a02514b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ug5TFYIx7BmAK7H8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        100
      ],
      "id": "bd9660d2-f1f8-4165-8f1d-bd928c4e3f5b",
      "name": "When chat message received",
      "webhookId": "5c8cc99d-f174-48bb-ae09-3c1509096222"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.sepvej.com/mcp/92f78ee9-c30f-4916-8a6a-5faa2339797b/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        460,
        220
      ],
      "id": "a090e1be-e8e5-4827-a2c4-7980afea47bc",
      "name": "MCP"
    },
    {
      "parameters": {
        "folderId": "1TAoIbvNmUGpHfKB5lCvlmjnyoJikfIIi",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `Create document with this subject just once`, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        580,
        220
      ],
      "id": "6ac6b91b-fb7b-4def-a268-951dc7f5c683",
      "name": "doc create",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "mKRDTcGualHldEQM",
          "name": "Google Docs account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        700,
        220
      ],
      "id": "a1e3d542-e17c-4eb7-9ed1-251a4a4e4cfe",
      "name": "doc append",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "mKRDTcGualHldEQM",
          "name": "Google Docs account - kfamirosein@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": null,
  "repo_owner": null,
  "repo_path": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-28T18:16:58.775Z",
      "updatedAt": "2025-04-28T18:16:58.775Z",
      "id": "5fWvt038qtjyrogG",
      "name": "Ready For Production"
    },
    {
      "createdAt": "2025-05-14T20:32:19.789Z",
      "updatedAt": "2025-05-14T20:32:19.789Z",
      "id": "m47mWCIE0lqvLsOQ",
      "name": "Error - Needs Fixing"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-14T20:32:27.000Z",
  "versionId": "c622b260-9b70-45b5-b173-dc0017804094"
}