2025/05/Dd8Q2JB5KoGwT0uW.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Set Start Time -30min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Start Time -30min": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-18T14:32:00.814Z",
  "id": "Dd8Q2JB5KoGwT0uW",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Appointment Reminder Using calendly and  Vapi - Caller workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -120,
        -500
      ],
      "id": "80f2f20a-9fd6-4a1e-ad3f-edccd04721f5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-i5JtUrNdF37coudvFdicRtE-CQzHJ3p83ONqG8ePHs",
          "mode": "list",
          "cachedResultName": "Calendly Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-i5JtUrNdF37coudvFdicRtE-CQzHJ3p83ONqG8ePHs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-i5JtUrNdF37coudvFdicRtE-CQzHJ3p83ONqG8ePHs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        100,
        -500
      ],
      "id": "2a2c27ab-8086-4a6e-99f1-40257c2c4222",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ede838b5-1b4f-4a56-a157-45874f9558b2",
              "name": "start_time_minus_30",
              "value": "={{(() => {\n  const start = new Date($json.start_time);\n  start.setMinutes(start.getMinutes() - 30);\n  return start.toISOString();\n})()}}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -500
      ],
      "id": "74e5922c-59c3-44e1-91fc-eafd539b5388",
      "name": "Set Start Time -30min"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customers\": [\n    {\n      \"number\": \"+{{$json.phone_number}}\",\n      \"name\": \"{{$json.name}}\",\n      \"assistantOverrides\": {\n        \"variableValues\": {\n          \"reason\": \"{{$json.reason}}\",\n          \"start_time\": \"{{$json.start_time}}\",\n          \"end_time\": \"{{$json.end_time}}\"\n        }\n      }\n    }\n  ],\n  \"assistantId\": \"a0e8e106-0492-435a-a98c-5256b51384bc\",\n  \"phoneNumberId\": \"ecb9509c-a93b-42c2-bdca-1c4c8132dd14\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        -660
      ],
      "id": "4173c889-233f-4dca-b81e-6e47445d6c64",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mvOwLCSbl5hisHAa",
          "name": "Vapi API key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a78d829-99fe-4739-a003-5e6caa26655e",
              "leftValue": "={{ $json.start_time }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "be53aa3b-5b19-4ebf-97f5-c394b0c36b25",
              "leftValue": "={{ $json.start_time_minus_30 }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        -500
      ],
      "id": "486bea2a-9bd9-4025-a2c0-5e994709f8dd",
      "name": "If1"
    }
  ],
  "pinData": {},
  "repo_name": null,
  "repo_owner": null,
  "repo_path": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Google Sheets Trigger": {
      "documentId": "1-i5JtUrNdF37coudvFdicRtE-CQzHJ3p83ONqG8ePHs",
      "sheetId": 0,
      "lastRevision": 54,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1-i5JtUrNdF37coudvFdicRtE-CQzHJ3p83ONqG8ePHs&revision=54&exportFormat=xlsx",
      "lastIndexChecked": 6
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-26T12:36:19.000Z",
  "versionId": "80df6367-67a3-4376-8af9-5c53bcd0afc9"
}