2025/05/KEcnjR4oYqOSNnqQ.json
{
  "active": false,
  "connections": {
    "Gemini 2.0 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model Selector": {
      "main": [
        [
          {
            "node": "Smarty Pants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dynamic Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Smarty Pants",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft": {
      "ai_tool": [
        [
          {
            "node": "Smarty Pants",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contacts": {
      "ai_tool": [
        [
          {
            "node": "Smarty Pants",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Smarty Pants",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Smarty Pants",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Log Output": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Model Selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smarty Pants": {
      "main": [
        [
          {
            "node": "Log Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings_OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Model-Selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0-Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Model-Selector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dynamic-Brain": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model-Selector": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "knowledgeBase": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "knowledgeBase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-04T09:15:02.519Z",
  "id": "KEcnjR4oYqOSNnqQ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "This AI Agent Picks Its Own Brain (10x Cheaper, n8n)",
  "nodes": [
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1060,
        320
      ],
      "id": "7c057732-c826-499e-95b2-67b784b6842f",
      "name": "Gemini 2.0 Flash",
      "credentials": {
        "openRouterApi": {
          "id": "WUVL2VhD58OaCGuB",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.blocks[0].elements[0].elements[1].text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent responsible for selecting the most suitable large language model to handle a given user request. Choose only one model from the list below based strictly on each model’s strengths.  \n\n## Instructions\nAnalyze the user’s request and return the exact model name that best fits the task. Your response must contain only the model name. No explanations, no formatting, no extra text.\n\n## Available Models and Strengths\n- `google/gemini-2.0-flash-001`: best for fast, lightweight, conversational tasks or simple general-purpose queries  \n- `openai/gpt-4.1-mini`: best for tool calling creating calendar events or getting contact information\n- `anthropic/claude-3.7-sonnet`: best for writing high-quality content, research summaries, or tasks requiring clear, professional language  \n- `openai/o1`: best for deep logical reasoning and coding in a conversational way  \n\n### Output Format:\nReturn only one of the following strings:\n- google/gemini-2.0-flash-001  \n- openai/gpt-4.1-mini  \n- anthropic/claude-3.7-sonnet  \n- openai/o1\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        820,
        80
      ],
      "id": "fc9406c5-ae19-4f4f-b31d-ce15e119b1b1",
      "name": "Model Selector"
    },
    {
      "parameters": {
        "model": "={{ $('Model Selector').item.json.output.trimEnd() }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1280,
        320
      ],
      "id": "2a9b920d-5fab-442f-8d36-de86d9410535",
      "name": "Dynamic Brain",
      "credentials": {
        "openRouterApi": {
          "id": "WUVL2VhD58OaCGuB",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1620,
        320
      ],
      "id": "c85ced2b-2f95-4adf-80a4-05c6de90d0c7",
      "name": "Create Draft",
      "webhookId": "6be69b91-607c-45a2-9df4-5be8d4ff544c",
      "credentials": {
        "gmailOAuth2": {
          "id": "SrNDwGNhb7NMwRKu",
          "name": "Gmail account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appK0rbtvf9e7vt6w",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appK0rbtvf9e7vt6w"
        },
        "table": {
          "__rl": true,
          "value": "tbl08JGCfUK1RhXsG",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appK0rbtvf9e7vt6w/tbl08JGCfUK1RhXsG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1740,
        320
      ],
      "id": "ecbfdca9-fc8d-4701-b142-bae609fb34e8",
      "name": "Contacts",
      "credentials": {
        "airtableTokenApi": {
          "id": "gas2OY7Lfb7hhatB",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "nateherk88@gmail.com",
          "mode": "list",
          "cachedResultName": "nateherk88@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1500,
        320
      ],
      "id": "c08a7bbb-4d79-4394-ad14-cada9a1b4f94",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XKfFNqC99cDV73Hl",
          "name": "Google Calendar account - kfamirosien@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the web. ",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user is searching for. "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1860,
        320
      ],
      "id": "6616f75a-7fd2-4049-a622-9391c65daeb6",
      "name": "Tavily",
      "credentials": {
        "httpHeaderAuth": {
          "id": "q1gIBTZWIDL87ko3",
          "name": "Tavily Search API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1b6Xi7EqH0TZfIvTxC0_KYcJPg_zsqdylaWowHvfWnYY",
          "mode": "list",
          "cachedResultName": "Dynamic Model Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b6Xi7EqH0TZfIvTxC0_KYcJPg_zsqdylaWowHvfWnYY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b6Xi7EqH0TZfIvTxC0_KYcJPg_zsqdylaWowHvfWnYY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('yyyy-MM-dd hh:mm a') }}",
            "Input": "={{ $('Slack Trigger').item.json.blocks[0].elements[0].elements[1].text }}",
            "Output": "={{ $json.output.trimEnd() }}",
            "Model": "={{ $('Model Selector').item.json.output.trimEnd() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Input",
              "displayName": "Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1580,
        80
      ],
      "id": "816e0795-3bea-42e9-b601-61c2cd2e6bac",
      "name": "Log Output",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C08L6NPLT98",
          "mode": "list",
          "cachedResultName": "youtube"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        580,
        80
      ],
      "id": "6285146c-29b9-4c35-88ff-ac8b7756a788",
      "name": "Slack Trigger",
      "webhookId": "f5b6119f-375e-44ad-8e27-ac8549165b21",
      "credentials": {
        "slackApi": {
          "id": "ebiGFIr1xjqUp5Q8",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08L6NPLT98",
          "mode": "list",
          "cachedResultName": "youtube"
        },
        "text": "={{ $('Smarty Pants').item.json.output.trimEnd() }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1820,
        80
      ],
      "id": "ca58bedd-2844-457f-8465-7c5cd17cb52e",
      "name": "Slack",
      "webhookId": "1a0e0d6b-891f-4e1a-b5ac-be6822a00dcd",
      "credentials": {
        "slackApi": {
          "id": "ebiGFIr1xjqUp5Q8",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Slack Trigger\n",
        "height": 240,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        0
      ],
      "id": "22fe2e70-f006-4719-815e-cb294bab8eb6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Model Selector Agent\n\n",
        "height": 240,
        "width": 360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        0
      ],
      "id": "5b47df10-e3a9-4881-9b0b-64b7fd0ca3f4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Smart Tools Agent\n\n",
        "height": 240,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        0
      ],
      "id": "b802e1e7-b3f0-420a-b901-ec44c67179cb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Slack Response\n",
        "height": 240,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        0
      ],
      "id": "d600c7c3-d907-4951-9624-38f6874a4c49",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Log Run\n",
        "height": 240,
        "width": 220,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        0
      ],
      "id": "08de6363-886b-4f8c-9756-eaff31eb1eb9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Dynamic Brain",
        "height": 200,
        "width": 200,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        260
      ],
      "id": "f0d7c110-62ef-40e5-bd38-6640faafca98",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Tools",
        "height": 200,
        "width": 540,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        260
      ],
      "id": "8d44b647-1989-47e8-b879-471d2e42079f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Flash 2.0",
        "height": 200,
        "width": 200,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1000,
        260
      ],
      "id": "5be90e0d-fd58-480d-b10d-88b7364d9f36",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Slack Trigger').item.json.blocks[0].elements[0].elements[1].text }}",
        "options": {
          "systemMessage": "=Here is the current date/time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1200,
        80
      ],
      "id": "752eefb2-bb10-4e99-b4d0-0dae39fcc801",
      "name": "Smarty Pants"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1180,
        1140
      ],
      "id": "9cfc6567-5b33-4909-b1c0-58369dc374ac",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1WvcDz_M45M8BAOfojzTatcxcX9dSEYt-pvC2nKYYmic",
          "mode": "list",
          "cachedResultName": "AI Agents vs. Virtual Assistants: Efficiency Uncovered",
          "cachedResultUrl": "https://docs.google.com/document/d/1WvcDz_M45M8BAOfojzTatcxcX9dSEYt-pvC2nKYYmic/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1440,
        1140
      ],
      "id": "8d4a3ce2-e7ac-49b5-b0c0-0546a0229ac7",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WXXXZeyNAIgQPqMQ",
          "name": "Google Drive account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        1680,
        1140
      ],
      "id": "b694dacf-f37d-4234-a8a4-c8de2bc11e99",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "5n6dkIALa6UGFAdj",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1500,
        1400
      ],
      "id": "b1ec1815-58e6-48a9-a556-b5ed916058d1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1820,
        1400
      ],
      "id": "68b01e31-84df-4012-9233-045c46d2102d",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "## Manual Trigger\n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        1060
      ],
      "id": "94fba4e1-3524-4dd4-be37-dd296581df4c",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Download File\n\n",
        "height": 240,
        "width": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1380,
        1060
      ],
      "id": "676ca080-8997-4fef-b526-0a2120d5f313",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Insert to Supabase\n\n",
        "height": 240,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1620,
        1060
      ],
      "id": "f8e3466a-c66e-4e85-a416-fa9c7f374151",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Vectorizing",
        "height": 240,
        "width": 700,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        1320
      ],
      "id": "58817752-a74b-4cb8-a78d-e318a0151d69",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1360,
        1400
      ],
      "id": "f85146eb-486a-455f-8dfc-5691d4d70942",
      "name": "Embeddings_OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ug5TFYIx7BmAK7H8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1040,
        620
      ],
      "id": "25a7e0f0-cd7f-499d-a910-6ac2d37d9ffc",
      "name": "When chat message received",
      "webhookId": "e5725d85-7e40-48ab-aa50-51dfa9f3d076"
    },
    {
      "parameters": {
        "content": "## Model Selector Agent\n\n",
        "height": 240,
        "width": 360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1240,
        540
      ],
      "id": "1d4d42a6-3a1b-45f5-b9d2-33dd7531e7a1",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Dynamic Brain",
        "height": 200,
        "width": 200,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1240,
        800
      ],
      "id": "d68b69f9-5d05-4fb7-8af7-37f07e9b268a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Flash 2.0",
        "height": 200,
        "width": 200,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1020,
        800
      ],
      "id": "64b977e3-7567-49d7-801f-7b7ead378bab",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Smart RAG Agent\n\n",
        "height": 240,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1620,
        540
      ],
      "id": "9b8083d6-df51-4b56-a57f-58f1b1506f1a",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent that works at a company called Tech Haven, and you have access to a knowledge base that has policy and FAQ information. Your job is to respond to the user's query by using your \"knowledgeBase\" tool and answering their question. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1680,
        620
      ],
      "id": "3990e46d-ed8d-4a7c-9708-7c1d0c49e942",
      "name": "RAG Agent"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1080,
        860
      ],
      "id": "3f07945d-ccb1-45bb-9e40-7fd739b1c944",
      "name": "Gemini 2.0-Flash",
      "credentials": {
        "openRouterApi": {
          "id": "WUVL2VhD58OaCGuB",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "={{ $json.output.trimEnd() }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1300,
        860
      ],
      "id": "19b392d3-86f8-47b4-afea-a12d6e9301c3",
      "name": "Dynamic-Brain",
      "credentials": {
        "openRouterApi": {
          "id": "WUVL2VhD58OaCGuB",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Slack Trigger\n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        980,
        540
      ],
      "id": "8d5bb780-d5ca-42ff-8e98-b1385be5405b",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Overview  \nYou are an AI agent responsible for selecting the most suitable large language model to handle a given user request. Choose only one model from the list below based strictly on each model’s strengths.  \n\n## Instructions  \nAnalyze the user’s request and return the exact model name that best fits the task. Your response must contain only the model name. No explanations, no formatting, no extra text.  \n\n## Available Models and Strengths  \n- `openai/gpt-4.1-mini`: best for simple, factual, or lightweight queries that require minimal reasoning  \n- `anthropic/claude-3.5-sonnet`: best for standard or moderately complex tasks, including multi-step reasoning or basic problem solving  \n\n### Output Format:  \nReturn only one of the following strings:  \n- openai/gpt-4.1-mini  \n- anthropic/claude-3.5-sonnet  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1300,
        620
      ],
      "id": "350a0dea-1504-4f1e-a8e4-9018ac65e6ca",
      "name": "Model-Selector"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledgeBase",
        "toolDescription": "Call this tool to retrieve policy and FAQ information",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        1500,
        860
      ],
      "id": "0eb7ff16-496e-457d-acd6-229f407a7de7",
      "name": "knowledgeBase",
      "credentials": {
        "supabaseApi": {
          "id": "5n6dkIALa6UGFAdj",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1820,
        860
      ],
      "id": "e150c40b-5ae0-486d-b4a4-f2747dbc0058",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ug5TFYIx7BmAK7H8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Knowledge Base",
        "height": 200,
        "width": 520,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1460,
        800
      ],
      "id": "195af18a-b419-4a99-abd5-83637a748b69",
      "name": "Sticky Note17"
    }
  ],
  "pinData": {},
  "repo_name": null,
  "repo_owner": null,
  "repo_path": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-28T18:16:58.775Z",
      "updatedAt": "2025-04-28T18:16:58.775Z",
      "id": "5fWvt038qtjyrogG",
      "name": "Ready For Production"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-05T19:13:08.000Z",
  "versionId": "43ba73b9-7064-4c55-97ea-02093b7a36fb"
}