2025/05/kkUpjI8122U8eUdK.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Set Start Time -30min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set Start Time -30min": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-08T00:26:05.106Z",
  "id": "kkUpjI8122U8eUdK",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Appointment Reminder Using calendly and retell - Caller workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -120,
        -500
      ],
      "id": "9290084a-27d0-494f-ba46-7c9531d38ff2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-i5JtUrNdF37coudvFdicRtE-CQzHJ3p83ONqG8ePHs",
          "mode": "list",
          "cachedResultName": "Calendly Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-i5JtUrNdF37coudvFdicRtE-CQzHJ3p83ONqG8ePHs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-i5JtUrNdF37coudvFdicRtE-CQzHJ3p83ONqG8ePHs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        100,
        -500
      ],
      "id": "aaab434c-1c3a-4cb4-bc46-6c055415385f",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a78d829-99fe-4739-a003-5e6caa26655e",
              "leftValue": "={{ $json.start_time }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "be53aa3b-5b19-4ebf-97f5-c394b0c36b25",
              "leftValue": "={{ $json.start_time_minus_30 }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            },
            {
              "id": "ab2ddc0c-d8b1-4c47-a746-43a53ccc9cb6",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        -500
      ],
      "id": "04bc7e92-7912-4b39-9efe-58027dd22819",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ede838b5-1b4f-4a56-a157-45874f9558b2",
              "name": "start_time_minus_30",
              "value": "={{(() => {\n  const start = new Date($json.start_time);\n  start.setMinutes(start.getMinutes() - 30);\n  return start.toISOString();\n})()}}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -500
      ],
      "id": "b4fb2e93-7eb6-44de-81f9-fbc3b4a5b605",
      "name": "Set Start Time -30min"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"+19787183224\",\n  \"to_number\": \"{{ $json.phone_number }}\",\n  \"override_agent_id\": \"agent_e82630bc965d88f1a6d477f8c0\",\n  \"retell_llm_dynamic_variables\": {\n       \"name\": \"{{ $json.name }}\",\n       \"phone_number\": \"+1{{ $json.phone_number }}\",\n       \"reason\": \"{{ $json.reason }}\",\n       \"start_time\": \"{{ $json.start_time }}\",\n       \"end_time\": \"{{ $json.end_time }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        -660
      ],
      "id": "5db005bf-872e-491d-a1bf-c463b3c4a5f6",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DbDMD6iHHQv0hLWN",
          "name": "Retell AI API "
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": null,
  "repo_owner": null,
  "repo_path": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Google Sheets Trigger": {
      "documentId": "1-i5JtUrNdF37coudvFdicRtE-CQzHJ3p83ONqG8ePHs",
      "sheetId": 0,
      "lastRevision": 54,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1-i5JtUrNdF37coudvFdicRtE-CQzHJ3p83ONqG8ePHs&revision=54&exportFormat=xlsx",
      "lastIndexChecked": 6
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-26T12:35:49.000Z",
  "versionId": "da6a7c79-ad3d-4e86-ba72-7f2373012c81"
}