2025/05/mT791hjRg1u9xtio.json
{
  "active": false,
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch by Batch (Empty Result)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by Batch (Empty Result)": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        [],
        [],
        []
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "sep@alvinanosikovsky.my - 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "sep@clairewilliams.my - 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "sep@fordness.my - 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "sep@gerardogutierrez.my - 50",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "sep@hedilsonvieira.my - 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "sep@isabelpulgar.my - 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "sep@kalebcoe.my\t- 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "sep@stefaniedaugherty.my\t- 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@alvinanosikovsky.my - 100": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@clairewilliams.my - 100": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@fordness.my - 100": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@gerardogutierrez.my - 50": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@hedilsonvieira.my - 100": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@isabelpulgar.my - 100": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@kalebcoe.my\t- 100": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@stefaniedaugherty.my\t- 100": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-24T20:32:12.608Z",
  "id": "mT791hjRg1u9xtio",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Email Validation System with Google Sheets + QuickEmailVerification API (Free Tier)",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json[\"What is sheet URL ?\"] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -860,
        700
      ],
      "id": "cc410c97-f5db-4ed3-9fd7-ab54b713ec3e",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Split input items into batches of 50 and add batchNumber\nconst batchSize = 100;\nconst inputItems = $input.all();\nlet output = [];\n\nfor (let i = 0; i < inputItems.length; i++) {\n  const batchNumber = Math.floor(i / batchSize) + 1;\n  const item = inputItems[i];\n  output.push({\n    json: {\n      ...item.json,\n      batchNumber,\n    }\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        700
      ],
      "id": "0c5c6122-6797-4e49-b00d-9403e4efffba",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "feb89472-c970-4769-acbb-a39a8d04371d"
                  },
                  {
                    "leftValue": "={{ $json.Result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "271a6035-b5ea-45d4-a5a5-b7c5bc02869f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "57feb687-cd12-4c09-8a76-267d24fb1edd"
                  },
                  {
                    "leftValue": "={{ $json.Result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "b46e103a-a8e3-48cb-bd96-cac51cfb0b12"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "08487b6e-44a3-473d-9555-c6e3ddc5554b"
                  },
                  {
                    "leftValue": "={{ $json.Result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "9666e705-3954-44a4-b80f-6e908a762979"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "ec54daed-a654-4164-be05-d9a7d8d59fc6"
                  },
                  {
                    "leftValue": "={{ $json.Result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "28674171-1294-41bb-9091-a63afa0de170"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "5a1e7d1c-dcc5-4cf4-bd75-76c05ba9d663"
                  },
                  {
                    "leftValue": "={{ $json.Result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "0a3fb915-7ee0-4e7f-9fcc-7255af3b10e2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 6,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "6953dbd4-2a14-4476-ae56-9ee26b638421"
                  },
                  {
                    "leftValue": "={{ $json.Result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "3e95d438-c18f-496a-a44e-d03f1fc78841"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "fde653c9-61bc-487c-b901-c6eaec81fe67"
                  },
                  {
                    "leftValue": "={{ $json.Result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "0b79f0fe-f075-4b58-bc66-776adcf1a4b8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 8,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "724b901d-cecc-45f6-b35f-200b8bafe071"
                  },
                  {
                    "leftValue": "={{ $json.Result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "1f93d7ae-e6ba-4339-bb20-12813ad8c183"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 9,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "58ac496c-7db1-4bb0-b1a9-4fb8a4f15bc8"
                  },
                  {
                    "leftValue": "={{ $json.Result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "ec8d6893-c0e5-4836-ba71-73ee6f920df5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 10,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "173ddfb3-4d24-4e72-8a11-f4640f88d4d4"
                  },
                  {
                    "leftValue": "={{ $json.Result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "3ce89b90-6761-456b-a460-7b1c06449e24"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -420,
        553
      ],
      "id": "fa1cb6c0-412e-472c-a2df-8a832820264b",
      "name": "Switch by Batch (Empty Result)"
    },
    {
      "parameters": {
        "formTitle": "Sheet URL",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is sheet URL ?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1080,
        700
      ],
      "id": "902d7ffb-4fa8-4abe-9eb2-b3d1f704238e",
      "name": "On form submission",
      "webhookId": "8eec58e3-9712-45f1-94c8-87daf28534db"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        0
      ],
      "id": "52b6af8b-76e7-4206-a3ef-0ad6b6ba13be",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('On form submission').item.json[\"What is sheet URL ?\"] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RgrfONDJSBOdayH6nCVHnqzBXE1m-NrBIb_pVXXiOR4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Result": "={{ $json.result }}",
            "Safe To Send": "={{ $json.safe_to_send }}",
            "Email": "={{ $json.email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Safe To Send",
              "displayName": "Safe To Send",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        0
      ],
      "id": "111ec036-2333-4f47-9cbf-9df381fe499c",
      "name": "Google Sheets - Append results",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        200
      ],
      "id": "8da158b6-835a-42c5-8751-eb06605b1a33",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        400
      ],
      "id": "26e28387-8cf3-441c-88e7-adbd3882ccc4",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        600
      ],
      "id": "2b3e2f91-1f4c-47fa-ad65-a6da0403d6cc",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        800
      ],
      "id": "95f6f380-d716-4750-9c04-68d8b8734aed",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        1000
      ],
      "id": "96ebbd7f-81e4-4548-bd36-00e2d1b45470",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        1200
      ],
      "id": "0c44ea33-d3fc-4c83-ae6a-1a3557e0a2fd",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        1400
      ],
      "id": "093a6c1f-ed82-4f95-9c0a-72ccc7b92c97",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        20,
        0
      ],
      "id": "e1991b81-ea2a-4b81-bce8-178b8e641cec",
      "name": "sep@alvinanosikovsky.my - 100",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "uegL2Rvd8e4GEjeg",
          "name": "sep@alvinanosikovsky.my - 100"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        20,
        200
      ],
      "id": "427f6121-e96d-41f8-9814-173a1e4caf4b",
      "name": "sep@clairewilliams.my - 100",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "InyJ9YOpvQAo2oWS",
          "name": "sep@clairewilliams.my - 100"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        20,
        400
      ],
      "id": "f2cc51cb-c410-4ee5-b693-e237afb16cda",
      "name": "sep@fordness.my - 100",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "BB9492CB7xXdPdwe",
          "name": "sep@fordness.my - 100"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        20,
        600
      ],
      "id": "807810c9-efd6-4ce0-9be2-e0f888f2f920",
      "name": "sep@gerardogutierrez.my - 50",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "DDlrJlaM0JknBwak",
          "name": "sep@gerardogutierrez.my - 50"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        20,
        800
      ],
      "id": "c5ccb792-2845-46dd-b1e5-68d0181a9fd5",
      "name": "sep@hedilsonvieira.my - 100",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "kw89w1RHc1j11Pec",
          "name": "sep@hedilsonvieira.my - 100"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        20,
        1000
      ],
      "id": "7bd23c6d-b2b4-4a6a-b460-94cbb5e70372",
      "name": "sep@isabelpulgar.my - 100",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "nYboJmVKJx8tOZyx",
          "name": "sep@isabelpulgar.my - 100"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        20,
        1200
      ],
      "id": "6b3545b9-70df-48a9-a25e-53a210a69cf6",
      "name": "sep@kalebcoe.my\t- 100",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "4y9u2vkzfqx6ypc4",
          "name": "sep@kalebcoe.my\t- 100"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        20,
        1400
      ],
      "id": "bad5141a-0a8b-4941-80c1-c3c9f1fcf386",
      "name": "sep@stefaniedaugherty.my\t- 100",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "4ccnJdQOkGMeOvBm",
          "name": "sep@stefaniedaugherty.my\t- 100"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('On form submission').item.json[\"What is sheet URL ?\"] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RgrfONDJSBOdayH6nCVHnqzBXE1m-NrBIb_pVXXiOR4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "Safe To Send": "={{ $json.safe_to_send }}",
            "Result": "={{ $json.result }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Safe To Send",
              "displayName": "Safe To Send",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        200
      ],
      "id": "111b38b2-b10d-4d0d-8354-ea97d0f23f2e",
      "name": "Google Sheets - Append results1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('On form submission').item.json[\"What is sheet URL ?\"] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RgrfONDJSBOdayH6nCVHnqzBXE1m-NrBIb_pVXXiOR4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "Safe To Send": "={{ $json.safe_to_send }}",
            "Result": "={{ $json.result }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Safe To Send",
              "displayName": "Safe To Send",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        400
      ],
      "id": "bc4a317d-c64c-4dbe-80e5-e21f2b3e023e",
      "name": "Google Sheets - Append results2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('On form submission').item.json[\"What is sheet URL ?\"] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RgrfONDJSBOdayH6nCVHnqzBXE1m-NrBIb_pVXXiOR4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "Safe To Send": "={{ $json.safe_to_send }}",
            "Result": "={{ $json.result }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Safe To Send",
              "displayName": "Safe To Send",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        600
      ],
      "id": "ec8a78cb-8b57-414f-8c54-05c3840fa943",
      "name": "Google Sheets - Append results3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('On form submission').item.json[\"What is sheet URL ?\"] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RgrfONDJSBOdayH6nCVHnqzBXE1m-NrBIb_pVXXiOR4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "Safe To Send": "={{ $json.safe_to_send }}",
            "Result": "={{ $json.result }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Safe To Send",
              "displayName": "Safe To Send",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        800
      ],
      "id": "d4aca574-5a02-4742-81df-fbcc62421a4a",
      "name": "Google Sheets - Append results4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('On form submission').item.json[\"What is sheet URL ?\"] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RgrfONDJSBOdayH6nCVHnqzBXE1m-NrBIb_pVXXiOR4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "Safe To Send": "={{ $json.safe_to_send }}",
            "Result": "={{ $json.result }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Safe To Send",
              "displayName": "Safe To Send",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        1000
      ],
      "id": "3eb19249-c368-4f4d-91f2-3a3d589343d5",
      "name": "Google Sheets - Append results5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('On form submission').item.json[\"What is sheet URL ?\"] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RgrfONDJSBOdayH6nCVHnqzBXE1m-NrBIb_pVXXiOR4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "Safe To Send": "={{ $json.safe_to_send }}",
            "Result": "={{ $json.result }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Safe To Send",
              "displayName": "Safe To Send",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        1200
      ],
      "id": "a33fbd84-9d17-4e63-9051-ed25a8a9d785",
      "name": "Google Sheets - Append results6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('On form submission').item.json[\"What is sheet URL ?\"] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RgrfONDJSBOdayH6nCVHnqzBXE1m-NrBIb_pVXXiOR4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "Safe To Send": "={{ $json.safe_to_send }}",
            "Result": "={{ $json.result }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Safe To Send",
              "displayName": "Safe To Send",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        1400
      ],
      "id": "5485b02b-e61a-4246-a32e-53e007dd8123",
      "name": "Google Sheets - Append results7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": null,
  "repo_owner": null,
  "repo_path": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-28T17:53:57.000Z",
  "versionId": "95c83d2f-2972-4fc4-985e-131ae12425b8"
}