2025/05/ok6BEp79lYjAr9nF.json
{
  "active": false,
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "sep@alvinanosikovsky.my - 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch by Batch (Empty Result)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by Batch (Empty Result)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "sep@clairewilliams.my - 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "sep@fordness.my - 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "sep@gerardogutierrez.my - 50",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "sep@hedilsonvieira.my - 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "sep@isabelpulgar.my - 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "sep@kalebcoe.my\t- 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "sep@stefaniedaugherty.my\t- 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "sep@sydneydauphin.my - 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "sep@gerardogutierrez.my - 58",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@gerardogutierrez.my - 58": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "sep@gerardogutierrez.my - 59",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@gerardogutierrez.my - 59": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@alvinanosikovsky.my - 100": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@clairewilliams.my - 100": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@fordness.my - 100": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@gerardogutierrez.my - 50": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@hedilsonvieira.my - 100": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@isabelpulgar.my - 100": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@kalebcoe.my\t- 100": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@stefaniedaugherty.my\t- 100": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sep@sydneydauphin.my - 100": {
      "main": [
        [
          {
            "node": "Google Sheets - Append results8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-24T19:21:45.673Z",
  "id": "ok6BEp79lYjAr9nF",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Quick Email Verification",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8",
          "mode": "list",
          "cachedResultName": "Emails to be Verified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -800,
        940
      ],
      "id": "9d1fdd3c-5a12-4909-8f8c-d9eb5246fa43",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.emailAddress }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        240
      ],
      "id": "5172e1b4-167e-4829-a30e-c49bd03687ee",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8",
          "mode": "list",
          "cachedResultName": "Emails to be Verified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "result": "={{ $json.result }}",
            "emailAddress": "={{ $json.email }}"
          },
          "matchingColumns": [
            "emailAddress"
          ],
          "schema": [
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        240
      ],
      "id": "a0cc8cf7-ff32-413c-b890-f8c1571ffae0",
      "name": "Google Sheets - Append results",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1020,
        940
      ],
      "id": "445d43a9-39aa-4b99-8375-2c26a1debbb2",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Split input items into batches of 50 and add batchNumber\nconst batchSize = 100;\nconst inputItems = $input.all();\nlet output = [];\n\nfor (let i = 0; i < inputItems.length; i++) {\n  const batchNumber = Math.floor(i / batchSize) + 1;\n  const item = inputItems[i];\n  output.push({\n    json: {\n      ...item.json,\n      batchNumber,\n    }\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        940
      ],
      "id": "e6905db9-f3de-460c-b06f-fb8b8cef43be",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "feb89472-c970-4769-acbb-a39a8d04371d"
                  },
                  {
                    "leftValue": "={{ $json.result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "271a6035-b5ea-45d4-a5a5-b7c5bc02869f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "57feb687-cd12-4c09-8a76-267d24fb1edd"
                  },
                  {
                    "leftValue": "={{ $json.result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "b46e103a-a8e3-48cb-bd96-cac51cfb0b12"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "08487b6e-44a3-473d-9555-c6e3ddc5554b"
                  },
                  {
                    "leftValue": "={{ $json.result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "9666e705-3954-44a4-b80f-6e908a762979"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "ec54daed-a654-4164-be05-d9a7d8d59fc6"
                  },
                  {
                    "leftValue": "={{ $json.result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "28674171-1294-41bb-9091-a63afa0de170"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "5a1e7d1c-dcc5-4cf4-bd75-76c05ba9d663"
                  },
                  {
                    "leftValue": "={{ $json.result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "0a3fb915-7ee0-4e7f-9fcc-7255af3b10e2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 6,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "6953dbd4-2a14-4476-ae56-9ee26b638421"
                  },
                  {
                    "leftValue": "={{ $json.result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "3e95d438-c18f-496a-a44e-d03f1fc78841"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "fde653c9-61bc-487c-b901-c6eaec81fe67"
                  },
                  {
                    "leftValue": "={{ $json.result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "0b79f0fe-f075-4b58-bc66-776adcf1a4b8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 8,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "724b901d-cecc-45f6-b35f-200b8bafe071"
                  },
                  {
                    "leftValue": "={{ $json.result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "1f93d7ae-e6ba-4339-bb20-12813ad8c183"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 9,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "58ac496c-7db1-4bb0-b1a9-4fb8a4f15bc8"
                  },
                  {
                    "leftValue": "={{ $json.result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "ec8d6893-c0e5-4836-ba71-73ee6f920df5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.batchNumber }}",
                    "rightValue": 10,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "173ddfb3-4d24-4e72-8a11-f4640f88d4d4"
                  },
                  {
                    "leftValue": "={{ $json.result }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    },
                    "id": "3ce89b90-6761-456b-a460-7b1c06449e24"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -380,
        780
      ],
      "id": "e8171195-7590-403e-bb89-1d4d8c8a188b",
      "name": "Switch by Batch (Empty Result)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.emailAddress }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        440
      ],
      "id": "c1c9903a-f175-476e-ab4e-e18c7b55b608",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8",
          "mode": "list",
          "cachedResultName": "Emails to be Verified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "result": "={{ $json.result }}",
            "emailAddress": "={{ $json.email }}"
          },
          "matchingColumns": [
            "emailAddress"
          ],
          "schema": [
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        440
      ],
      "id": "8fe5e82e-c5ec-4e6e-b4c3-3aa94ae5fb07",
      "name": "Google Sheets - Append results1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.emailAddress }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        640
      ],
      "id": "13e3f59e-154a-4ab7-b6d3-d0e4e2d8620d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8",
          "mode": "list",
          "cachedResultName": "Emails to be Verified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "result": "={{ $json.result }}",
            "emailAddress": "={{ $json.email }}"
          },
          "matchingColumns": [
            "emailAddress"
          ],
          "schema": [
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        640
      ],
      "id": "543ecc0b-c47f-4b3d-8e49-a8951470e8f9",
      "name": "Google Sheets - Append results2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.emailAddress }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        840
      ],
      "id": "50f522d5-bbb3-4999-8a9a-07d518c1bb1f",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8",
          "mode": "list",
          "cachedResultName": "Emails to be Verified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "result": "={{ $json.result }}",
            "emailAddress": "={{ $json.email }}"
          },
          "matchingColumns": [
            "emailAddress"
          ],
          "schema": [
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        840
      ],
      "id": "35a3a013-a9bf-465e-bdc1-4d37c57eebcf",
      "name": "Google Sheets - Append results3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.emailAddress }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        1040
      ],
      "id": "5c091c59-63d0-415c-b2d0-e795054e09ac",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8",
          "mode": "list",
          "cachedResultName": "Emails to be Verified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "result": "={{ $json.result }}",
            "emailAddress": "={{ $json.email }}"
          },
          "matchingColumns": [
            "emailAddress"
          ],
          "schema": [
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        1040
      ],
      "id": "6055d9f6-d165-46e1-833d-f76673c99d57",
      "name": "Google Sheets - Append results4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.emailAddress }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        1240
      ],
      "id": "a2cf3473-6864-424e-8ea3-adad66e792f8",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8",
          "mode": "list",
          "cachedResultName": "Emails to be Verified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "result": "={{ $json.result }}",
            "emailAddress": "={{ $json.email }}"
          },
          "matchingColumns": [
            "emailAddress"
          ],
          "schema": [
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        1240
      ],
      "id": "9d720d5c-6985-4845-b887-9940153324da",
      "name": "Google Sheets - Append results5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.emailAddress }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        1440
      ],
      "id": "70af6f56-1460-4df2-83d3-c249322b37a5",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8",
          "mode": "list",
          "cachedResultName": "Emails to be Verified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "result": "={{ $json.result }}",
            "emailAddress": "={{ $json.email }}"
          },
          "matchingColumns": [
            "emailAddress"
          ],
          "schema": [
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        1440
      ],
      "id": "7234137d-4672-4ad1-bfc4-6c8de159f059",
      "name": "Google Sheets - Append results6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.emailAddress }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        1640
      ],
      "id": "b6024954-61a3-453f-b903-045757a27106",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8",
          "mode": "list",
          "cachedResultName": "Emails to be Verified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "result": "={{ $json.result }}",
            "emailAddress": "={{ $json.email }}"
          },
          "matchingColumns": [
            "emailAddress"
          ],
          "schema": [
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        1640
      ],
      "id": "4735eed3-38ca-4769-9c86-41ebe0422254",
      "name": "Google Sheets - Append results7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.emailAddress }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1020,
        1900
      ],
      "id": "28843bd6-2faa-4fb0-8bd5-ab04201d5e46",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8",
          "mode": "list",
          "cachedResultName": "Emails to be Verified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "result": "={{ $json.result }}",
            "emailAddress": "={{ $json.email }}"
          },
          "matchingColumns": [
            "emailAddress"
          ],
          "schema": [
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -580,
        1900
      ],
      "id": "6418e5bd-3a16-4c60-b7da-86274461b764",
      "name": "Google Sheets - Append results8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.emailAddress }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1020,
        2160
      ],
      "id": "2d201aa6-c724-4dcb-8160-6350b4654db4",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8",
          "mode": "list",
          "cachedResultName": "Emails to be Verified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "result": "={{ $json.result }}",
            "emailAddress": "={{ $json.email }}"
          },
          "matchingColumns": [
            "emailAddress"
          ],
          "schema": [
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -580,
        2160
      ],
      "id": "3311b09b-bbe2-4e6e-ab49-0c7a6375ab2c",
      "name": "Google Sheets - Append results9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        -800,
        2160
      ],
      "id": "2f2b3c74-59a9-4591-beb0-aff4ab37de43",
      "name": "sep@gerardogutierrez.my - 58",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "4ccnJdQOkGMeOvBm",
          "name": "sep@stefaniedaugherty.my\t- 100"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b400b3d7-33f5-43d4-9b0c-daeb8e7005b7",
              "name": "emailAddress",
              "value": "={{ $json.emailAddress }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1020,
        2420
      ],
      "id": "402d5847-47a6-4015-b421-ccf12ab571ab",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8",
          "mode": "list",
          "cachedResultName": "Emails to be Verified",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dqqFPGQiYef3c9-tmsYIQyQ_y5PYdUfQEtKOJKbI9K8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "result": "={{ $json.result }}",
            "emailAddress": "={{ $json.email }}"
          },
          "matchingColumns": [
            "emailAddress"
          ],
          "schema": [
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -580,
        2420
      ],
      "id": "0e9a0fc3-423c-42e3-9c22-a7725bbe711c",
      "name": "Google Sheets - Append results10",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        -800,
        2420
      ],
      "id": "b6d0c10e-fd48-48cc-85af-39852b027c22",
      "name": "sep@gerardogutierrez.my - 59",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "4ccnJdQOkGMeOvBm",
          "name": "sep@stefaniedaugherty.my\t- 100"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        80,
        240
      ],
      "id": "2ed60e39-b520-4a93-8945-547420c56a06",
      "name": "sep@alvinanosikovsky.my - 100",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "uegL2Rvd8e4GEjeg",
          "name": "sep@alvinanosikovsky.my - 100"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        80,
        440
      ],
      "id": "77dd91d6-6667-4512-83f5-be6d048782fb",
      "name": "sep@clairewilliams.my - 100",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "InyJ9YOpvQAo2oWS",
          "name": "sep@clairewilliams.my - 100"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        80,
        640
      ],
      "id": "fbf6a49f-086b-4358-ac95-24a4f1b6e9ed",
      "name": "sep@fordness.my - 100",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "BB9492CB7xXdPdwe",
          "name": "sep@fordness.my - 100"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        80,
        840
      ],
      "id": "87c02647-a414-49d7-8059-2ea53f4149a2",
      "name": "sep@gerardogutierrez.my - 50",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "DDlrJlaM0JknBwak",
          "name": "sep@gerardogutierrez.my - 50"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        80,
        1040
      ],
      "id": "9d9dad43-f24c-4697-8a75-36cdcb063351",
      "name": "sep@hedilsonvieira.my - 100",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "kw89w1RHc1j11Pec",
          "name": "sep@hedilsonvieira.my - 100"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        80,
        1240
      ],
      "id": "9bf671c0-5c3a-4872-8bc8-dc2182ff4367",
      "name": "sep@isabelpulgar.my - 100",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "nYboJmVKJx8tOZyx",
          "name": "sep@isabelpulgar.my - 100"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        80,
        1440
      ],
      "id": "624bada5-0987-48e9-8d89-fabea37cb786",
      "name": "sep@kalebcoe.my\t- 100",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "4y9u2vkzfqx6ypc4",
          "name": "sep@kalebcoe.my\t- 100"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        80,
        1640
      ],
      "id": "04b7dd4c-ff9f-43a1-b457-90ca7d078cbd",
      "name": "sep@stefaniedaugherty.my\t- 100",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "4ccnJdQOkGMeOvBm",
          "name": "sep@stefaniedaugherty.my\t- 100"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.emailAddress }}"
      },
      "type": "n8n-nodes-quickemailverification.quickEmailVerification",
      "typeVersion": 1,
      "position": [
        -800,
        1900
      ],
      "id": "1fbd364c-b88b-43b1-8a8b-cb4d9e579b92",
      "name": "sep@sydneydauphin.my - 100",
      "credentials": {
        "quickEmailVerificationApi": {
          "id": "G2HvMlwBpDwI1Xkk",
          "name": "sep@sydneydauphin.my - 100"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "repo_name": null,
  "repo_owner": null,
  "repo_path": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-24T20:22:33.000Z",
  "versionId": "3bfd7737-0f00-40c6-82d4-37c1c701621b"
}