2025/05/pFk5jQJu9ggW1Txc.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-07T17:33:09.921Z",
  "id": "pFk5jQJu9ggW1Txc",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "This n8n Voice AI Agent CALLS Your Customers (No Humans Needed!)",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "kfamirosein@gmail.com",
          "mode": "list",
          "cachedResultName": "kfamirosein@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        0,
        -160
      ],
      "id": "3b0cd5e5-c087-45f5-8432-c51ef426bdff",
      "name": "Google Calendar",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XKfFNqC99cDV73Hl",
          "name": "Google Calendar account - kfamirosien@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -220,
        -160
      ],
      "id": "996035dc-0aab-4b1d-b1cc-26a095272280",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Appointment description :  {{ $json.description }}\nStart Time : {{ $json.start.dateTime }}\nEnd Time : {{ $json.end.dateTime }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an assistant. Generate a structured JSON object with the following fields:\n\nname: Full name of the recipient  \n\nphone_number: Phone number as a string  \n\nreason: Reason for the appointment  \n\nstart_time: Start time in ISO 8601 date-time format  \n\nend_time: End time in ISO 8601 date-time format  \n\nemail: Email address of the recipient  \n\nReturn the output only in valid JSON format. Do not include any additional text or comments.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        -160
      ],
      "id": "f96fe22b-adde-402f-9779-b1edfc2e7ca3",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        40
      ],
      "id": "a46b4e48-92c1-4fb9-bab5-bd345ebbe4e5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ug5TFYIx7BmAK7H8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"output\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"email\": {\n          \"type\": \"string\",\n          \"format\": \"email\"\n        },\n        \"phone_number\": {\n          \"type\": \"string\"\n        },\n        \"reason\": {\n          \"type\": \"string\"\n        },\n        \"start_time\": {\n          \"type\": \"string\",\n          \"format\": \"date-time\"\n        },\n        \"end_time\": {\n          \"type\": \"string\",\n          \"format\": \"date-time\"\n        }\n      },\n      \"required\": [\n        \"name\",\n        \"email\",\n        \"phone_number\",\n        \"reason\",\n        \"start_time\",\n        \"end_time\"\n      ]\n    }\n  },\n  \"required\": [\n    \"output\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        340,
        40
      ],
      "id": "75595b1e-53d7-40d4-afb6-9e8c3cc4b2b3",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"+19787183224\",\n  \"to_number\": \"{{ $json.output.phone_number }}\",\n  \"override_agent_id\": \"agent_e82630bc965d88f1a6d477f8c0\",\n  \"retell_llm_dynamic_variables\": {\n       \"name\": \"{{ $json.output.name }}\",\n       \"phone_number\": \"{{ $json.output.phone_number }}\",\n       \"reason\": \"{{ $json.output.reason }}\",\n       \"start_time\": \"{{ $json.output.start_time }}\",\n       \"end_time\": \"{{ $json.output.end_time }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        -160
      ],
      "id": "c7d6ddad-667d-4df6-af46-b5f46d1f078f",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DbDMD6iHHQv0hLWN",
          "name": "Retell AI API "
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": null,
  "repo_owner": null,
  "repo_path": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-07T19:19:17.000Z",
  "versionId": "bbb1410d-ae18-4f12-82be-491f5dc433f9"
}