2025/05/qhZsO95ZmgSp0RZv.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - list events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - list events": {
      "main": [
        [
          {
            "node": "HTTP Request - get scheduled event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - get scheduled event": {
      "main": [
        [
          {
            "node": "HTTP Request - list events1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - list events1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-07T20:17:36.152Z",
  "id": "qhZsO95ZmgSp0RZv",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "This n8n Voice AI Agent CALLS Your Customers Calendly",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        -180
      ],
      "id": "55f5a72f-7097-477c-acf8-21e5a741cfc4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        308,
        40
      ],
      "id": "a2838816-865a-48e7-a57a-a83409ac39ab",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ug5TFYIx7BmAK7H8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"output\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"email\": {\n          \"type\": \"string\",\n          \"format\": \"email\"\n        },\n        \"phone_number\": {\n          \"type\": \"string\"\n        },\n        \"reason\": {\n          \"type\": \"string\"\n        },\n        \"start_time\": {\n          \"type\": \"string\",\n          \"format\": \"date-time\"\n        },\n        \"end_time\": {\n          \"type\": \"string\",\n          \"format\": \"date-time\"\n        }\n      },\n      \"required\": [\n        \"name\",\n        \"email\",\n        \"phone_number\",\n        \"reason\",\n        \"start_time\",\n        \"end_time\"\n      ]\n    }\n  },\n  \"required\": [\n    \"output\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        460,
        40
      ],
      "id": "582a597c-cecb-400e-a668-5c71b137307b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"+19787183224\",\n  \"to_number\": \"{{ $json.output.phone_number }}\",\n  \"override_agent_id\": \"agent_e82630bc965d88f1a6d477f8c0\",\n  \"retell_llm_dynamic_variables\": {\n       \"name\": \"{{ $json.output.name }}\",\n       \"phone_number\": \"{{ $json.output.phone_number }}\",\n       \"reason\": \"{{ $json.output.reason }}\",\n       \"start_time\": \"{{ $json.output.start_time }}\",\n       \"end_time\": \"{{ $json.output.end_time }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        -180
      ],
      "id": "98e699aa-369c-4216-a8ed-37e2e825045b",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DbDMD6iHHQv0hLWN",
          "name": "Retell AI API "
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Appointment description_plain :  {{ $json.resource.description_plain }}\nAppointment description_html : {{ $json.resource.description_html }}\nStart Time : {{ $('HTTP Request - list events').item.json.collection[0].event_memberships[0].buffered_start_time }}\nEnd Time : {{ $('HTTP Request - list events').item.json.collection[0].event_memberships[0].buffered_end_time }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an assistant. Generate a structured JSON object with the following fields:\n\nname: Full name of the recipient  \n\nphone_number: Phone number as a string  \n\nreason: Reason for the appointment  \n\nstart_time: Start time in \"ISO 8601 date-time format\" IMPORTANT  \n\nend_time: End time in \"ISO 8601 date-time format\"   IMPORTANT  \n\nemail: Email address of the recipient  \n\nReturn the output only in valid JSON format. Do not include any additional text or comments.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        280,
        -180
      ],
      "id": "05b43530-2716-4050-b3fc-56d86cd016a1",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.collection[0].uri }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -180
      ],
      "id": "39ad4e6c-bd24-482e-a46e-0d7f9a9e4d29",
      "name": "HTTP Request - get scheduled event",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3BLpZkYrvBjRgSxk",
          "name": "Calendly API key - Dev Account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.calendly.com/scheduled_events?user=https://api.calendly.com/users/90ff7752-2c7c-4f10-a270-bd4bd7c27165",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        -180
      ],
      "id": "62210c94-b0e3-42a0-9a7c-65072be1fefe",
      "name": "HTTP Request - list events",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3BLpZkYrvBjRgSxk",
          "name": "Calendly API key - Dev Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.resource.event_type }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        -180
      ],
      "id": "09d9b9fe-08dc-4027-b8f6-df5ed7300c75",
      "name": "HTTP Request - list events1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3BLpZkYrvBjRgSxk",
          "name": "Calendly API key - Dev Account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": null,
  "repo_owner": null,
  "repo_path": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-07T21:54:04.000Z",
  "versionId": "fa4bb272-0487-4d85-bbde-2b79d9d2344d"
}