2025/05/rpfHVKAGqA7f5klF.json
{
  "active": true,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Calendly Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Google_Sheet_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-07T22:56:37.953Z",
  "id": "rpfHVKAGqA7f5klF",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Appointment Reminder Using calendly and retell - gather information into sheet",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        20,
        340
      ],
      "id": "1a8320cd-f895-49fa-95ba-2b963a86d11a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ug5TFYIx7BmAK7H8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"output\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"email\": {\n          \"type\": \"string\",\n          \"format\": \"email\"\n        },\n        \"phone_number\": {\n          \"type\": \"string\"\n        },\n        \"reason\": {\n          \"type\": \"string\"\n        },\n        \"start_time\": {\n          \"type\": \"string\",\n          \"format\": \"date-time\"\n        },\n        \"end_time\": {\n          \"type\": \"string\",\n          \"format\": \"date-time\"\n        }\n      },\n      \"required\": [\n        \"name\",\n        \"email\",\n        \"phone_number\",\n        \"reason\",\n        \"start_time\",\n        \"end_time\"\n      ]\n    }\n  },\n  \"required\": [\n    \"output\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        280,
        360
      ],
      "id": "54b5b758-9976-41f8-9d22-2525e1862c8f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Appointment Name: {{ $json.payload.name }} {{ $json.payload.scheduled_event.meeting_notes_plain }}\n{{ $json.payload.questions_and_answers[0].question }}:{{ $json.payload.questions_and_answers[0].answer }}\nEmail address : {{ $json.payload.email }}\nStart Time : {{ $json.payload.scheduled_event.start_time }}\nEnd Time :{{ $json.payload.scheduled_event.end_time }}\nLocation Type : {{ $json.payload.scheduled_event.location.type }}\nreason : AI automations and AI agents that can help optimize their businesses and potentially replace their ISA (Inside Sales Agent).",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an assistant. Generate a structured JSON object with the following fields:\n\nname: Full name of the recipient  \n\nphone_number: Phone number as a string  \n\nreason: Reason for the appointment  \n\nstart_time: Start time in \"ISO 8601 date-time format\" IMPORTANT  \n\nend_time: End time in \"ISO 8601 date-time format\"   IMPORTANT  \n\nemail: Email address of the recipient  \n\nPlease convert all phone numbers provided into the standardized E.164 international format: +[country code][number] (e.g., +19787183224 for a US number). Ensure the following rules are applied:\n\nInclude the + sign and correct country code (e.g., 1 for US/NANP, 44 for UK, etc.).\n\nRemove all non-numeric characters (e.g., parentheses, hyphens, spaces, dots).\n\nPreserve leading digits (e.g., +1 978-718-3224 → +19787183224).\n\nIf the number lacks a country code, assume US (+1) unless specified otherwise.\n\nFor extensions, either remove them or append them after a comma (e.g., +19787183224,123).\n\nExamples:\n\n(978) 718-3224 → +19787183224\n\n07871 832244 (UK) → +447871832244\n\n718-3224 (assume US) → +17183224 (if local, clarify if full number is needed).\n\n\n\n\nReturn the output in valid JSON format. Do not include any additional text or comments. and Use Google_Sheet_Tool and create a row for each item\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        120,
        80
      ],
      "id": "fd464ca3-9a9e-451a-948d-fbd3c4c47a57",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "events": [
          "invitee.created"
        ]
      },
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        80
      ],
      "id": "a5c3ab6a-c031-479c-b696-56374095b367",
      "name": "Calendly Trigger",
      "webhookId": "6a2537f8-c651-4157-be3f-a40e5ea527d9",
      "credentials": {
        "calendlyOAuth2Api": {
          "id": "VMWiQ6k5aATiAuid",
          "name": "Calendly account Dev Account - sepvdani@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-i5JtUrNdF37coudvFdicRtE-CQzHJ3p83ONqG8ePHs",
          "mode": "list",
          "cachedResultName": "Calendly Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-i5JtUrNdF37coudvFdicRtE-CQzHJ3p83ONqG8ePHs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-i5JtUrNdF37coudvFdicRtE-CQzHJ3p83ONqG8ePHs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}",
            "phone_number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone_number', ``, 'string') }}",
            "reason": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reason', ``, 'string') }}",
            "start_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start_time', ``, 'string') }}",
            "end_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end_time', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        160,
        360
      ],
      "id": "a41e1223-5001-4350-ba2e-48d4eb74971e",
      "name": "Google_Sheet_Tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": null,
  "repo_owner": null,
  "repo_path": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Calendly Trigger": {
      "webhookURI": "https://api.calendly.com/webhook_subscriptions/2f88789e-e314-4c0e-bd9f-9a82c8c5ed9e"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-16T13:01:09.000Z",
  "versionId": "4cfa2e25-93f6-4f83-820b-eb9b16783d53"
}