2025/05/umcIfUFJKcDzMi8h.json
{
  "active": false,
  "connections": {
    "create message": {
      "main": [
        [
          {
            "node": "Generate Voice Reminder Using ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change filename": {
      "main": [
        [
          {
            "node": "Send Voice Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointments": {
      "main": [
        [
          {
            "node": "create message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "create message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "create message",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Get Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voice Reminder Using ElevenLabs": {
      "main": [
        [
          {
            "node": "Change filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-01T11:15:04.325Z",
  "id": "umcIfUFJKcDzMi8h",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Automated Voice Appointment Reminders with Google Calendar GPT ElevenLabs Gmail",
  "nodes": [
    {
      "parameters": {},
      "id": "de0d4526-e110-42a5-8210-ed773ae54c69",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -160,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "36751ffa-25d5-462f-ba4d-94dd248d71bc",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        260,
        400
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "ug5TFYIx7BmAK7H8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"message\": {\n      \"type\": \"string\"\n    },\n    \"mail_object\": {\n      \"type\": \"string\"\n    }\n  }\n}"
      },
      "id": "82248c47-436d-4c54-909f-9ba122832876",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        460,
        400
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "09a6802d-7d71-4a99-8d30-0a8c5c703f13",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -160,
        80
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "/*\n * Filename: addFileName.js\n * Purpose: Add a file name to binary data in an n8n workflow using mail_object from input\n */\n\nconst mailObject = $input.first().json.output.mail_object;\nconst fileName = `${mailObject}.mp3`;\n\nreturn items.map(item => {\n  if (item.binary && item.binary.data) {\n    item.binary.data.fileName = fileName;\n  }\n  return item;\n});"
      },
      "id": "081e39cb-0555-4e2c-aac9-5370b2cf891c",
      "name": "Change filename",
      "type": "n8n-nodes-base.code",
      "position": [
        880,
        180
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get Appointments').item.json.organizer.email }}",
        "subject": "={{ $('create message').item.json.output.mail_object }}",
        "message": "=👇 Information for tomorrow 🗣️",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "senderName": "John Carpenter"
        }
      },
      "id": "9a6f93ce-985b-47f3-9bf8-1778ce7f8687",
      "name": "Send Voice Reminder",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1100,
        180
      ],
      "webhookId": "5ba2c8cb-84f1-4363-8410-b8d138286c3a",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "SrNDwGNhb7NMwRKu",
          "name": "Gmail account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=name: {{ $json.summary }}\ntime: {{ $json.start.dateTime }}\naddress: {{ $json.location }}\nToday's date: {{ $now }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an assistant. You will create a structured message in JSON.\n\n**\nmessage:\nGenerate a voice script reminder for a real estate appointment. The message should be clear, professional, and engaging.\n\nIt must include:\n1. The recipient's name.\n2. The date and time of the appointment, expressed naturally (e.g., at noon, quarter past noon, half past three, quarter to five).\n3. The complete address of the property, expressed naturally (e.g., 12 Baker Street in London, Madison Avenue in New York, 5 Oakwood Drive in Los Angeles).\n4. A mention of the sender: Mr Don Vee from Zafarontech.\n5. A confirmation sentence or an invitation to contact if needed.\n\nInput variables:\n• Recipient's name (prefixed with Mr. or Ms.)\n• Time: Appointment time\n• Address: Complete property address (only the street, number, and city; not the postal code)\n\nThe tone should be cordial and professional, suitable for an automated voice message.\n\nExample expected output: \"Hello Mrs. Richard, this is Mr. John Carpenter from Super Immo Agency.\nI am reminding you of your appointment scheduled for tomorrow at 8:15, at 63 Taverniers Road in Talence. If you have any questions or need to reschedule, please do not hesitate to contact me. See you tomorrow and have a great day!\"\n\n**\nmail_object: a very short email subject\nExample: Your appointment reminder for tomorrow"
            }
          ]
        }
      },
      "id": "8cff8e2d-2b95-4785-a686-c9d6a6971554",
      "name": "create message",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        280,
        180
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "kfamirosein@gmail.com",
          "mode": "list",
          "cachedResultName": "kfamirosein@gmail.com"
        },
        "limit": 2,
        "timeMax": "={{ $now.plus({ day: 2 }) }}",
        "options": {}
      },
      "id": "c559b625-1f47-4563-a40d-eb5289cf6a4c",
      "name": "Get Appointments",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        60,
        180
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XKfFNqC99cDV73Hl",
          "name": "Google Calendar account - kfamirosien@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/JBFqnCBsd6RMkjVDRZzb",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "output_format",
              "value": "mp3_22050_32"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.output.message }}"
            },
            {
              "name": "model_id",
              "value": "eleven_multilingual_v2"
            }
          ]
        },
        "options": {}
      },
      "id": "1767e7cc-af90-421b-8d7d-0c4ee3c56ace",
      "name": "Generate Voice Reminder Using ElevenLabs",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        180
      ],
      "notesInFlow": true,
      "retryOnFail": true,
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "XjQECEgib5ig1X2Y",
          "name": "ElevenLabs"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": null,
  "repo_owner": null,
  "repo_path": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-28T18:16:58.775Z",
      "updatedAt": "2025-04-28T18:16:58.775Z",
      "id": "5fWvt038qtjyrogG",
      "name": "Ready For Production"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-01T12:30:45.000Z",
  "versionId": "ceef9288-d0ca-4911-a4a7-81c74b35e0b4"
}