workflows/8korN3RoJ2kEK0TT
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-27T17:58:57.848Z",
  "id": "8korN3RoJ2kEK0TT",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Real estate data scrapper - zillow.com using rapidapi",
  "nodes": [
    {
      "parameters": {
        "url": "https://zillow-com1.p.rapidapi.com/propertyExtendedSearch?",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location",
              "value": "={{ $json.location }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "1d0c8dd7-7bc5-4ed6-a677-c751aec00cba",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "74MHe3NcpX69tBt5",
          "name": "Zillow rapid api Auth account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "props",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "c42d74be-fde9-4d9f-8ebc-9884765d8860",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f776a108-8bc7-4720-a64d-7da2ef21704e",
              "name": "location",
              "value": "Austin,TX",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        0
      ],
      "id": "ad75e0fd-258e-47ef-a096-ff47f6161f31",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -60,
        0
      ],
      "id": "b863c7a5-6ebb-4b37-8461-c10544821c00",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://zillow-com1.p.rapidapi.com/RentEstimate?",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $json.address }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -20
      ],
      "id": "f5a6b025-cc7f-4bcd-984b-0a7dedf3795d",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "74MHe3NcpX69tBt5",
          "name": "Zillow rapid api Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-28T10:07:40.000Z",
  "versionId": "c164dd9a-066f-4844-b169-f66ab5837db8"
}