workflows/Subworkflow/6M6LPyJPsGD9qBMV
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-25T09:44:46.580Z",
  "id": "6M6LPyJPsGD9qBMV",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Project Management AI Agent -  Calender Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "e24205f8-bd68-4ad8-a0b5-07355af0d18e",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1340,
        60
      ],
      "credentials": {
        "openAiApi": {
          "id": "JjVBLavsih1HzGHI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5781c498-5b82-481a-a8fa-81a2d18b7cde",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        -100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d61c13f0-e790-4cbf-b714-af93fd6e3c8a",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        -300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview  \nYou are a calendar assistant responsible for managing events, including creating, retrieving, updating, and deleting entries in the user's calendar.  \n\n## Calendar Management Actions  \n- **\"Get Events\"** – Retrieve upcoming events when requested.  \n- **\"Delete Event\"** – Before deleting an event, first use \"Get Events\" to find its ID.  \n- **\"Update Event\"** – Before modifying an event, first use \"Get Events\" to locate its ID.  \n- **\"Create Event\"** – Use this for personal or solo events.  \n- **\"Create Event with Attendee\"** – Use this when scheduling an event that includes other participants.  \n\n## Final Notes  \n- Current date and time: **{{ $now }}**  \n\n"
        }
      },
      "id": "e6339019-481c-4b9a-b544-955dc6bf20a6",
      "name": "Calendar Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1100,
        -200
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "790c90c6beade2869ef7056d5f3889a2fdc812d72754cd01bed087d6119b46cc@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "My Calendar"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"eventAttendeeEmail\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -640,
        60
      ],
      "id": "59ce73e2-911a-4620-b93f-8fa659701cda",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eCITFzcSHWF00ofb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "790c90c6beade2869ef7056d5f3889a2fdc812d72754cd01bed087d6119b46cc@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "My Calendar"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -780,
        160
      ],
      "id": "c25aeec8-223e-4fce-9c71-939678ea874d",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eCITFzcSHWF00ofb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "790c90c6beade2869ef7056d5f3889a2fdc812d72754cd01bed087d6119b46cc@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "My Calendar"
        },
        "timeMin": "={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}",
        "timeMax": "={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -920,
        200
      ],
      "id": "e2ba24eb-5ae6-40cc-b1b7-2c5b532c6d83",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eCITFzcSHWF00ofb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "790c90c6beade2869ef7056d5f3889a2fdc812d72754cd01bed087d6119b46cc@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "My Calendar"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1060,
        180
      ],
      "id": "d707de07-aa44-4345-9be1-18d6b35900f8",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eCITFzcSHWF00ofb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "790c90c6beade2869ef7056d5f3889a2fdc812d72754cd01bed087d6119b46cc@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "My Calendar"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"endTime\") }}",
          "start": "={{ $fromAI(\"startTime\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1200,
        140
      ],
      "id": "edc67e5b-f947-440a-abe6-037482b1cd39",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eCITFzcSHWF00ofb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1340,
        -200
      ],
      "id": "1e1bb3b5-3cbb-41f9-8ad8-44b87c39a739",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-25T10:22:06.241Z",
      "updatedAt": "2025-03-25T10:22:06.241Z",
      "id": "gG82LNd00W2syC70",
      "name": "Subworkflow"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-03-26T10:00:34.000Z",
  "versionId": "6e8ca401-e92c-4032-86a8-7f72e0fdc96d"
}