2025/04/EF7Swmrb2gWRuPcu.json
{
  "active": false,
  "connections": {
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "List Of Files To Load (Google Sheets)",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini (retrieval)": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "List Of Files To Load (Google Sheets)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-28T18:17:56.325Z",
  "id": "EF7Swmrb2gWRuPcu",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Powered RAG Workflow For Stock Earnings Report Analysis",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "company-earnings",
          "cachedResultName": "company-earnings"
        },
        "options": {}
      },
      "id": "9ff00509-d345-4395-9076-fe4c775b52c6",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -200,
        40
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "VJzk3LXROMCJh1GL",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "id": "ad90ce8c-3cce-4754-ab8c-64fb1b688ac6",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        -220,
        260
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "NfT134BOD89kq6qA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {}
      },
      "id": "199cf0ba-623a-4d60-a828-c47f181e68ca",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -100,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "925ae26a-7534-4dd5-9620-00c66aae3c14",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -20,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "09373577-eeef-485d-8d68-a3f6d610cf9a",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -660,
        40
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "24c9e5d0-87f9-47a1-9110-4979e0edf5b8",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1500,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a financial analysis report from my vector database about any company's latest quarterly earnings. Format it in markdown. Focus on identifying trends, highlighting significant differences between quarters, and spotting any financial outliers or unusual performance indicators. Use whatever company data is available in the Pinecone vector store",
        "options": {
          "systemMessage": "# Financial Analyst Agent Prompt\n\nYou are a highly skilled financial analyst specializing in analyzing Google's (Alphabet Inc.) financial performance. You have access to two powerful tools:\n\n1. **Vector Store Tool:** This tool allows you to retrieve relevant information from the past three quarters of Google's earnings reports (PDF documents). The documents have been processed and stored as embeddings in a vector database, enabling semantic search. Use this tool to find specific information related to revenue, expenses, profits, losses, growth, key metrics, management commentary, and any other relevant financial data.\n\n2. **Google Docs Tool:** This tool allows you to create, edit, and format Google Docs. Use this tool to save your findings into a Google Doc.\n\nYour task is to answer user queries related to Google's financial performance based on the last three quarters' earnings reports. When a user asks a question:\n\n1. **Understand the User's Intent:** Carefully analyze the user's query to determine what specific financial information they are seeking. Identify keywords, timeframes (e.g., \"previous quarter\"), and the type of analysis requested (e.g., trend analysis, comparison, explanation).\n\n2. **Retrieve Relevant Information:** Use the Vector Store Tool to search for and retrieve the most relevant text passages from the earnings reports that address the user's query. Retrieve multiple, diverse chunks to ensure comprehensive coverage.\n\n3. **Synthesize and Analyze:** Analyze the information from the retrieved text chunks. Identify key trends, patterns, and insights related to the user's query.\n\n4. **Generate Report in Google Docs:** Use the Google Docs Tool to create a new Google Doc (or append to an existing one, if specified by the user). Structure the report with clear headings, bullet points, and concise paragraphs. Include the following in your report as appropriate:\n   * **Executive Summary:** A brief overview of the key findings.\n   * **Revenue Analysis:** Report on revenue figures, growth rates, and key revenue drivers.\n   * **Expense Analysis:** Report on major expense categories and their impact on profitability.\n   * **Profitability Analysis:** Discuss net income, profit margins, and earnings per share (EPS).\n   * **Key Metrics:** Include other relevant financial metrics mentioned in the reports (e.g., operating income, cash flow, segment performance).\n   * **Management Commentary:** Summarize any relevant insights or explanations provided by Google's management in the earnings calls or reports.\n   * **Trend Analysis:** Compare the current quarter's performance to the previous two quarters, highlighting significant changes or trends.\n   * **Visualizations:** If possible, use the Google Docs tool to insert basic charts or tables to visually represent the data.\n\n5. **Cite Sources:** Clearly indicate the source of your information (e.g., \"Q2 2023 Earnings Report\") for each data point or analysis.\n\n6. **Maintain a Professional Tone:** Write in a clear, concise, and objective tone, as expected of a financial analyst. Avoid speculation or making unsubstantiated claims.\n\nYour ultimate goal is to provide the user with a well-structured, informative, and accurate financial report based on the data available in the last three quarters of Google's earnings reports.\n\n## Important Instructions:\n- Proceed immediately with analysis using the available information\n- Do NOT ask the user any questions for clarification\n- Do NOT ask the user for additional information\n- Do NOT summarize the task or ask for confirmation\n- Execute the task directly with whatever information is available\n- Save the report as a Google Doc using the available tool without requiring user confirmation\n- If information is incomplete, make best judgments based on available data without seeking user input"
        }
      },
      "id": "d5b46307-9640-4044-a660-c2dbe0a320fd",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1160,
        540
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "company_financial_earnings_data_tool",
        "description": "Retrieve information about the last 3 quarters of targets Earnings"
      },
      "id": "f48c0ac3-e39e-4386-8be1-4f83877503f3",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        -1160,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "93b227d9-53a3-4df8-a666-770d103d7a1a",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -960,
        960
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "NfT134BOD89kq6qA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3886a7d9-ced1-4158-9e33-cc48ba0c9c87",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1280,
        760
      ],
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "ug5TFYIx7BmAK7H8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "company-earnings",
          "cachedResultName": "company-earnings"
        },
        "options": {}
      },
      "id": "222705ec-5162-4835-985a-b7ab21b66347",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -1260,
        960
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "VJzk3LXROMCJh1GL",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "id": "b2e90e74-cdab-4884-8791-43dd8f13618a",
      "name": "Embeddings Google Gemini (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        -1180,
        1160
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "NfT134BOD89kq6qA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14_A642V0pe-xhSpnf2HDvlbUehHiXYGz2Pg0x-hFKc0",
          "mode": "list",
          "cachedResultName": "Earnings Reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_A642V0pe-xhSpnf2HDvlbUehHiXYGz2Pg0x-hFKc0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14_A642V0pe-xhSpnf2HDvlbUehHiXYGz2Pg0x-hFKc0/edit#gid=0"
        },
        "options": {}
      },
      "id": "c775cde0-87d7-47db-b365-e13c04075bf3",
      "name": "List Of Files To Load (Google Sheets)",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1080,
        40
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0DnvAKdOavdHOgz",
          "name": "Google Sheets account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.File }}",
          "mode": "url"
        },
        "options": {
          "fileName": "={{ $json.Company }}"
        }
      },
      "id": "b7a0350c-5801-4688-9155-4ef2e9c5c0e9",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -400,
        -140
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WXXXZeyNAIgQPqMQ",
          "name": "Google Drive account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1GaUhCFDvPqC7-E5O_RDhkfqO5td4R_JhClCDLgCVcGM/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -860,
        760
      ],
      "id": "7128033c-b8d7-4129-9062-24e358709f1c",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "mKRDTcGualHldEQM",
          "name": "Google Docs account - kfamirosein@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "![Source example](https://i.postimg.cc/qBNLRGCb/Screenshot-2025-04-24-at-8-24-04-AM.png#full-width)",
        "height": 800,
        "width": 1580,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -580,
        640
      ],
      "id": "92429fd6-d38a-4567-b4ae-fa1d099a76d8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "![Source example](https://i.postimg.cc/ydt09wSf/Screenshot-2025-04-24-at-7-59-43-AM.png#full-width)",
        "height": 380,
        "width": 660,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        200
      ],
      "id": "e795814e-bfc4-41b7-8a79-1269bcd4fef7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "![Source example](https://i.postimg.cc/52bLw56M/Screenshot-2025-04-24-at-7-57-09-AM.png#full-width)",
        "height": 380,
        "width": 660,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        -220
      ],
      "id": "47c4f597-6960-4df5-9320-1cb5910825f5",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "repo_name": null,
  "repo_owner": null,
  "repo_path": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-28T18:16:58.775Z",
      "updatedAt": "2025-04-28T18:16:58.775Z",
      "id": "5fWvt038qtjyrogG",
      "name": "Ready For Production"
    },
    {
      "createdAt": "2025-04-28T18:17:37.091Z",
      "updatedAt": "2025-04-28T18:17:37.091Z",
      "id": "5msGUHSxdT7KHDfA",
      "name": "Vector"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-06T07:17:52.000Z",
  "versionId": "f6f33577-1256-47bd-b6d2-29720d130764"
}